{%extends 'base.html'%}

{%block content%}
<p>Version v14.0.0 of the Prior Notice System Interface (PNSI)
    is a change related to the completion of web entries.
    The application has been updated to require that
    the Web Entry is completed before a user's Prior
    Notices are submitted. The system no longer
    automatically completes web entries when the
    Prior Notice submission timeframe elapses.
    After creating a Prior Notice, users will
    be given the option to save their Prior
    Notice or cancel their Prior Notice rather than
    to submit their Prior Notice. All Prior Notices
    must be created and saved before submitting the
    Web Entry. Once the Web Entry is submitted, it
    will be closed and the user will not have the
    ability to add additional Prior Notices to their Web Entry.
    In addition, users will no longer have the ability
    to cancel individual Prior Notices once a Web
    Entry is completed. Users will have to cancel
    the entire Web Entry to cancel a Prior Notice.
    Any Prior Notices that the user did not wish
    to cancel can be copied and re-filed on a new Web Entry.</p>
{%endblock%}